body {
   background-color: rgb(33,30,25);
}

.isoitem {
	position: relative;
   float:left;
}

img {
   padding:3px;
}

h1 {
   color:white;
   line-height: 85%;
   border:4px solid white;
   padding:4px;
}

h4 { 
   position: absolute; 
   bottom: 0; 
   left: 10px; 
   width: 100%; 
   color:white;
   text-shadow: 0 0 12px black, 0 0 6px black, 0 0 2px black;
   font-size: 90%;
   display: none;
}

figcaption {
   display: none;
}

#filters {
   padding:10px;
}

#newfilters{
   padding:10px;
}

.toggle{
   display:none;
}

.stamp {
/*   text-align: center;
*/   position: absolute;
/*   background: orange;
*/   right: 0;
   top: 0;
/*   width: 240px;
   height: 600px;*/
}


.btn-group-vertical {
   margin-top: 10px;
}